
.header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}
img{
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 150px; height: 145px;
margin: 0px;
}
body {
background-color: powderblue;
}
h3{
    color:blueviolet;
}
h2 { color: black;
}
h1{ color: black;}
p{
     color: black;
}

footer {
    margin-top: 5%
}
label , input, textarea{
    display: block;
}